---
---

@import "{{ site.theme }}";

code {
    font-family: bestfontever20260101;
    font-weight: 300 !important;
}

@font-face {
    font-family: bestfontever20260101;
    src: url("/2026-01-01/Bestfontever.woff2");
}

