---
---

@import "{{ site.theme }}";

code {
    font-family: bestfontever20260104;
    font-weight: 300 !important;
}

@font-face {
    font-family: bestfontever20260104;
    src: url("/2026-01-03/Bestfontever.woff2");
}

